#取消不需要上传文件

###########################
#测试
###########################

###########################
#shell 日志路径
###########################
shell/logs/*
!shell/logs/readme.md

###########################
# PhpStorm
###########################
.idea/*

###########################
# Eclipse
###########################
.buildpath
.project
.metadata
*.bak
.classpath
.settings/*

###########################
# Composer
###########################
vendor/composer/*
vendor/autoload.php

###########################
# Windows Files
###########################
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

###########################
# Sublime Text
###########################
*.sublime-project
*.sublime-workspace

###########################
# Netbeans
###########################
nbproject/*